/* -----------------------------------------------------------------------------GENERAL -- */
* {
    outline: 1px solid rgba(0, 0, 255, 0.4);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Merriweather", serif;
}
header, .about, footer {
    background: rgb(218,44,56);
    color: #fff;
}
.contenido, .contact {
    background: rgb(244,240,187);
    color: rgb(218,44,56);
}
/* ------------------------------------------------------------------------------HEADER -- */
header {
    padding: 0;
}
.desktop-menu {
    margin: 0;
}
.desktop-menu li a {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    padding: 13px 10px;
}
.desktop-menu li {
    padding: 0;
}
.desktop-menu li a:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.36);
}
.menu-bar {
    display: none;
}
.logo {
    padding: 9px 0;
    display: inline-block;
    font-size: 20px;
}
.icon-menu {
    font-size: 30px;
    color: #ccc;
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 5px 7px;
    display: inline-block;
}
/* --------------------------------------------------------------------------------HERO -- */
hero {
    color: #fff;
    background: url(../img/creamy.jpg) no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.hero .texto {
    text-align: center;
    padding: 50px 0;
}
/* ---------------------------------------------------------------------------CONTENIDO -- */
/* -------------------------------------------------------------------------------ABOUT -- */
/* -----------------------------------------------------------------------------CONTACT -- */
/* ------------------------------------------------------------------------------FOOTER -- */s