@media (max-width:549px) {
    .hero {
        font-size: 30px;
        padding-top: 100px;
    }
    .contenedor .btn {
        margin-bottom: 80px;
    }
}
@media (min-width:550px) {
    .contenedor {
        width: 500px;
    }
}
@media (min-width: 768px) {
  .contenedor {
    width: 450px;
  }
}
@media (min-width: 992px) {
  .contenedor {
    width: 590px;
  }
}
@media (min-width: 1200px) {
  .contenedor {
    width: 590px;
  }
}
@media screen and (max-width:768px) {
    nav {
        display: none;
    }
}