@media (max-width:550px) {
    
    .contenedor .btn {
        margin-bottom: 80px;
    }
}
@media (min-width:550px) {
    .contenedor {
        width: 500px;
    }
}
@media screen and (max-width:360px) {
    .logo {
        font-size: 13px;
        margin-top: 5px;
    }
}
@media (min-width: 768px) {
  .contenedor {
    width: 450px;
  }
}
@media (min-width: 992px) {
  .contenedor {
    width: 590px;
  }
}
@media (min-width: 1200px) {
  .contenedor {
    width: 590px;
  }
}
@media screen and (max-width:768px) {
    nav {
        display: none;
    }
}